@model Entities.Models.YeuCau
@{
    ViewBag.Title = "ItGroup Content Management";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Images/adminfav2.ico" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Đây là fornt End</h2>
            <a class="btn btn-green " href="@Url.RouteUrl("ManagementHome")">Khu vực quản trị</a>
        </div>
    </div>
</body>
</html>