
@{
    ViewBag.Title = "Gửi yêu cầu tạo Tài khoản";
    Layout = "~/Areas/FrontEnd/Views/Shared/_PublicLayout.cshtml";
}

<h2 class="color-blue">Bạn đã gửi yêu cầu chỉnh sửa tài khoản thành công</h2>
<div><a href="Home_Index" class="btn default">Quay lại</a></div>

