@{
	<tr>
  <td class="xl26016220" style="border-top:none">&nbsp;</td>
  <td class="xl26016220" style="border-top:none;border-left:none">&nbsp;</td>
  <td class="xl29316220" style="border-top:none;border-left:none">&nbsp;</td>
  <td class="xl29316220" style="border-top:none;border-left:none">&nbsp;</td>
  <td class="xl29416220" style="border-top:none;border-left:none;">A</td>
  <td colspan="8" class="xl34016220"style="border-left:none;">NHÓM
	  CÁC CHỈ TIÊU THỰC HIỆN NHIỆM VỤ (Cấp1)</td>
  <td class="xl29516220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29516220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29416220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29416220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl34016220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29616220" style="border-top:none;border-left:none;">
		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-<span>&nbsp;</span>
	</td>
  <td class="xl29616220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29616220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29616220" style="border-top:none;border-left:none;">&nbsp;</td>
  <td class="xl29616220" style="border-top:none;border-left:none;">
		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>-<span>&nbsp; </span>
	</td>
  <td class="xl18716220"></td>
  <td class="xl18716220"></td>
  <td class="xl18716220"></td>
 </tr>
	<tr class=xl21416220>
		<td rowspan=5 class=xl36116220 style='border-top:none'>
			85%
		</td>
		<td rowspan=5 class=xl33916220 style='border-top:none'>0%</td>
		<td class=xl29716220 style='border-top:none;border-left:none'>&nbsp;</td>
		<td class=xl29716220 style='border-top:none;border-left:none'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none'>A.1</td>
		<td colspan=8 class=xl29816220 style='border-left:none;'>
			NHÓM CÁC CHỈ TIÊU THỰC HIỆN NHIỆM VỤ (Cấp1)
		</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'></td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
		<td class=xl29816220 style='border-top:none;border-left:none;'></td>
	</tr>

	for (int i3 = 0; i3 < 2; i3++)
	{
		<tr class=xl21416220>
			<td rowspan=2 class=xl33816220 style='border-top:none'>
				0%
			</td>
			<td class=xl33816220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30216220 style='border-top:none;border-left:none'>F</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>
				Viễn cảnh tài chính (Cấp3)
			</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30216220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30216220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30316220 style='border-top:none;border-left:none'>&nbsp;</td>
			<td class=xl30416220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl30516220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19116220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl22416220 style='border-top:none;border-left:none;'>
				<span> </span>-<span></span>
			</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19016220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl19116220 style='border-top:none;border-left:none;'>&nbsp;</td>
			<td class=xl22416220 style='border-top:none;border-left:none;'>
				<span> </span>-<span></span>
			</td>
		</tr>

		for (int i4 = 0; i4 < 1; i4++)
		{
			<tr class=xl19616220>
				<td height=32 class=xl33816220 style='border-top:none; border-left:none'>&nbsp;</td>
				<td class=xl19216220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19316220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19316220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19316220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19316220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19316220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl24716220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl24716220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19316220 style='border-top:none;border-left:none'>&nbsp;</td>
				<td class=xl19416220 style='border-top:none;border-left:none;'>
					0%
				</td>
				<td class=xl30616220 style='border-top:none;border-left:none;'>&nbsp;</td>
				<td class=xl28516220 style='border-top:none;border-left:none;'>&nbsp;</td>
				<td class=xl28516220 style='border-top:none;border-left:none;'>&nbsp;</td>
				<td class=xl19516220 style='border-top:none;border-left:none;'>
					0
				</td>
				<td class=xl20116220 style='border-top:none;border-left:none;'></td>
				<td class=xl28516220 style='border-top:none;border-left:none;'>&nbsp;</td>
				<td class=xl28516220 style='border-top:none;border-left:none;'>&nbsp;</td>
				<td class=xl19516220 style='border-top:none;border-left:none;'>
					0
				</td>
				<td class=xl20116220 style='border-top:none;border-left:none;'>
				</td>
			</tr>
		}
	}
}