<tr height=21 style='height:15.75pt'>
	<td height=21 class=xl24316220 style='height:15.75pt'></td>
	<td class=xl24416220></td>
	<td class=xl24216220></td>
	<td class=xl24216220></td>
	<td class=xl20716220></td>
	<td class=xl20816220></td>
	<td class=xl20816220></td>
	<td class=xl20816220></td>
	<td class=xl20816220></td>
	<td class=xl20816220></td>
	<td class=xl18816220></td>
	<td class=xl18816220></td>
	<td class=xl18716220></td>
	<td class=xl20916220></td>
	<td class=xl20916220></td>
	<td class=xl18816220></td>
	<td class=xl18816220></td>
	<td class=xl20816220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
	<td class=xl18716220></td>
</tr>
<tr class=xl21016220 height=21 style='height:15.75pt'>
	<td height=21 class=xl24416220 style='height:15.75pt'></td>
	<td class=xl24416220></td>
	<td class=xl24216220></td>
	<td class=xl24216220></td>
	<td class=xl20716220></td>
	<td colspan=3 class=xl20716220>
		Người lập<span style='mso-spacerun:yes'></span>
	</td>
	<td class=xl29216220></td>
	<td class=xl29216220></td>
	<td class=xl20716220></td>
	<td class=xl20716220></td>
	<td colspan=7 class=xl20716220>Người duyệt</td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
</tr>
