<tr class="xl21416220" height="29" style="mso-height-source:userset;height:21.75pt">
	<td height="29" class="xl29016220" style="height:21.75pt;border-top:none">&nbsp;</td>
	<td class="xl29016220" style="border-top:none;border-left:none">&nbsp;</td>
	<td class="xl28316220" style="border-left:none">100.0%</td>
	<td class="xl28316220" style="border-left:none">&nbsp;</td>
	<td class="xl29116220" width="48" style="border-left:none;width:36pt">&nbsp;</td>
	<td class="xl21516220" width="0" style="border-left:none">&nbsp;</td>
	<td class="xl21516220" width="0" style="border-left:none">&nbsp;</td>
	<td class="xl21516220" width="0" style="border-left:none">&nbsp;</td>
	<td class="xl34516220" width="67" style="border-top:none;border-left:none;
  width:50pt">
		&nbsp;
	</td>
	<td class="xl32016220" width="175" style="border-top:none;border-left:none;
  width:131pt">
		&nbsp;
	</td>
	<td class="xl22116220" width="48" style="border-top:none;border-left:none;
  width:36pt">
		&nbsp;
	</td>
	<td class="xl22116220" width="53" style="border-top:none;border-left:none;
  width:40pt">
		&nbsp;
	</td>
	<td class="xl21516220" width="60" style="border-top:none;border-left:none;
  width:45pt">
		&nbsp;
	</td>
	<td class="xl21116220" width="67" style="border-top:none;border-left:none;
  width:50pt">
		&nbsp;
	</td>
	<td class="xl32116220" width="67" style="border-top:none;border-left:none;
  width:50pt">
		&nbsp;
	</td>
	<td class="xl21216220" width="48" style="border-top:none;border-left:none;
  width:36pt">
		&nbsp;
	</td>
	<td class="xl21216220" width="62" style="border-top:none;border-left:none;
  width:47pt">
		&nbsp;
	</td>
	<td class="xl21216220" width="55" style="border-top:none;border-left:none;
  width:41pt">
		&nbsp;
	</td>
	<td class="xl22016220" style="border-top:none;border-left:none">&nbsp;</td>
	<td class="xl21216220" width="47" style="border-top:none;border-left:none;
  width:35pt">
		&nbsp;
	</td>
	<td class="xl21216220" width="55" style="border-top:none;border-left:none;
  width:41pt">
		&nbsp;
	</td>
	<td class="xl23816220" width="57" style="border-top:none;border-left:none;
  width:43pt">
		&nbsp;
	</td>
	<td class="xl24116220" width="62" style="border-top:none;border-left:none;
  width:47pt">
		&nbsp;
	</td>
	<td class="xl21416220">&nbsp;</td>
	<td class="xl21416220">&nbsp;</td>
	<td class="xl21416220">&nbsp;</td>
</tr>
