
<tr class=xl21016220 height=25 style='height:18.75pt'>
	<td height=25 class=xl32816220 style='height:18.75pt;border-top:none'>&nbsp;</td>
	<td class=xl32816220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl32916220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl32916220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td colspan=14 class=xl36516220 width=750 style='border-left:none;width:562pt'>
		Tổng
		điểm
	</td>
	<td class=xl27716220 style='border-top:none;border-left:none'>
		<span style='mso-spacerun:yes'></span>100
	</td>
	<td class=xl27816220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl27816220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl27816220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl27716220 style='border-top:none;border-left:none'>
		<span style='mso-spacerun:yes'></span>100
	</td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
	<td class=xl21016220></td>
</tr>
<tr height=25 style='height:18.75pt'>
	<td height=25 class=xl32716220 style='height:18.75pt;border-top:none'>&nbsp;</td>
	<td class=xl32816220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl32916220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl32916220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td colspan=14 class=xl36616220 style='border-left:none'>
		Xếp loại<span style='mso-spacerun:yes'></span>
	</td>
	<td class=xl27916220 style='border-top:none;border-left:none'>C</td>
	<td class=xl28016220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl28016220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl28016220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl27916220 style='border-top:none;border-left:none'>C</td>
</tr>
@Html.Partial("~/Views/KPI/_Footer_excel.cshtml")
