
@{ 
		 var kpi_level_2 = ViewData["kpi_level_2"] as Web.Handler.obj_kpi;
		 var kpi_lst = ViewData["sum"] as List<Web.Handler.obj_kpi>;
		 var KPI_parent = ViewData["KPI_parent"] as Web.Handler.obj_kpi;
		 int flag = int.Parse(ViewData["flag"].ToString());
		 Web.Handler.obj_kpi obj;
		 long idparent = long.Parse(KPI_parent.ID);
		 int sum = Web.Controllers.KPIController.GetItemTree(idparent);
		 Web.Controllers.KPIController.flag = 0;
		 var kpi_2 = kpi_lst.Where(x => x.IdParent == kpi_level_2.ID);
		 var childrentIDs = kpi_lst.Where(o => o.IdParent == KPI_parent.ID).Select(o=>o.ID);
		 //int sum = kpi_lst.ForEach(o=>o.);
		 int row = Web.Controllers.KPIController.get_all_chau(long.Parse(kpi_level_2.ID));
		 int flag_1 = 0;
		 foreach (var item in kpi_lst.Where(x => x.IdParent == KPI_parent.ID))
		 {
					flag_1 += (kpi_lst.Where(x => x.IdParent == item.ID).Count()) + Web.Controllers.KPIController.get_all_chau(long.Parse(item.ID));
		 }
		 int sum_row = row + (kpi_lst.Where(x => x.IdParent == kpi_level_2.ID).Count());
		 if (sum_row == 0)
		 {
					sum_row += 1;
		 }
		 else {
					sum_row += 1;
		 }
		 sum = flag_1 + 2;
}
<tr class=xl21416220>
	@if (flag == 1)
	{
		<td rowspan=@sum class=xl36116220 style='border-top:none' id="TS_a1">
			@kpi_lst.Where(x => x.ID == kpi_level_2.IdParent).First().Weight %
		</td>
	}
	<td rowspan=@sum_row class=xl33916220 style='border-top:none' id="TS_a2">@kpi_level_2.Weight %</td>
	<td class=xl29716220 style='border-top:none;border-left:none'>&nbsp;</td>
	<td class=xl29716220 style='border-top:none;border-left:none'>&nbsp;</td>
	@*<td class=xl29716220 style='border-top:none;border-left:none'>&nbsp;</td>*@
	<td class=xl29816220 style='border-top:none;border-left:none'>@kpi_level_2.Code</td>
	<td colspan=8 class=xl29816220 style='border-left:none;'>
		@kpi_level_2.Name
	</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'></td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
	<td class=xl29816220 style='border-top:none;border-left:none;'></td>
	<td class=xl29816220 style='border-top:none;border-left:none;'>&nbsp;</td>
</tr>