<div class="page-footer">
    <div class="page-footer-inner">
        @if (DateTime.Now.Year <= 2015)
        {
            <span>2015</span>
        }
        else
        {
            <span>2015-@DateTime.Now.Year</span>
        }
        &copy; <a title="Cait VNU" target="_blank" href="http://cungcapphanmem.com">ItGroup</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>