<div class="page-footer">
    <div class="page-footer-inner">
        @if (DateTime.Now.Year <= 2018)
        {
            <span>2018</span>
        }
        else
        {
            <span>2018-@DateTime.Now.Year</span>
        }
        &copy; <a title="EPUIT" target="_blank" href="https://cntt.epu.edu.vn/">EPUIT</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>